
/* .testimonial-section {
    padding: 40px 0 0px;
    background-image: url("../../../src/Img/Testimonial/bg-1.jpg");
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .testimonial-section::before {
    /* content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.85;
    background-color: #1f2235; */
  }

  .owl-carousel {
    /* display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red; */
    /* column-gap: 20px; */
    padding-left: 20px !important;
    /* position: relative; */
  }

  /* @media(min-width:100px) {
    
  } */
  .owl-nav {
    /* position: absolute; */
    border: none;
    font-size: 50px;
    color: red;
    border: none !important;
    outline: none !important;
    /* top: 30%; */
    width: 100%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
  }

   button.owl-prev, button.owl-next {
    border: none;
    margin-right: 20px !important;
}

.card {
  position: relative;
  width: 95%;
  /* filter: brightness(50%); */
  height: 250px;
  border-radius: 10px;
  /* filter: blur(1px); */
}


.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 30% 50%;
  filter: brightness(20%);
  border-radius: 10px;
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
  cursor: pointer;
}

.card img:hover{
  /* width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 30% 50%;
  filter: brightness(20%); */
  filter: brightness(80%);
  transform: scale(1.1);
}

.card-body {
  position: absolute;
  /* transform: scale(1.2);  */
    transform-origin: center; 
}

.card-title {
  font-weight: 800;
  color:white;
  text-shadow: 2px 2px 5px rgb(252, 251, 251);
}
  